In [93]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [94]:
df = pd.read_csv('draft_final.csv')

In [95]:
df.head()

,player,sportingnews,CBS,si_rank,ds1_rank,ds2_rank,JacobK,JustinB,Saucey19,Logantooreal,...,Kamikaze_Justice,reuter,bleacher,si2_rank,drafttek,draftgeek_x,pft,cbs_wilson,mean,round
0,Chase Young,1.0,2,1.0,1.0,2.0,2.0,2.0,5.0,1.0,...,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2,round 1
1,Joe Burrow,5.0,1,2.0,3.0,1.0,1.0,1.0,6.0,7.0,...,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,2,round 1
2,Devin Duvernay,3.0,5,3.0,7.0,3.0,3.0,3.0,12.0,3.0,...,NaN,3.0,4.0,3.0,6.0,3.0,5.0,3.0,5,round 1
3,Justin Herbert,2.0,4,4.0,2.0,4.0,7.0,4.0,13.0,5.0,...,3.0,7.0,5.0,4.0,3.0,7.0,8.0,6.0,6,round 1
4,Jeff Okudah,6.0,3,5.0,6.0,5.0,8.0,10.0,1.0,4.0,...,5.0,6.0,7.0,5.0,4.0,5.0,13.0,5.0,7,round 1

In [96]:
df.sample(n=df.shape[0], replace=True, random_state=42)

,player,sportingnews,CBS,si_rank,ds1_rank,ds2_rank,JacobK,JustinB,Saucey19,Logantooreal,...,Kamikaze_Justice,reuter,bleacher,si2_rank,drafttek,draftgeek_x,pft,cbs_wilson,mean,round
102,Davon Hamilton,73.0,102,NaN,79.0,52.0,51.0,71.0,95.0,58.0,...,78.0,NaN,46.0,86.0,59.0,NaN,NaN,82.0,71,round 3
92,Shane Lemieux,79.0,58,100.0,77.0,56.0,42.0,78.0,NaN,56.0,...,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,65,round 3
14,Javon Kinlaw,17.0,25,17.0,18.0,25.0,35.0,27.0,NaN,20.0,...,15.0,16.0,NaN,17.0,15.0,17.0,16.0,17.0,21,round 1
106,Matt Peart,NaN,69,93.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,39.0,64.0,90.0,NaN,NaN,NaN,77.0,72,round 3
71,Bradlee Anae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,...,95.0,NaN,NaN,NaN,75.0,NaN,NaN,NaN,57,round 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,Clyde Edwards-Helaire,71.0,72,54.0,44.0,37.0,33.0,42.0,NaN,53.0,...,55.0,40.0,39.0,58.0,31.0,NaN,NaN,56.0,48,round 2
151,Amik Robertson,NaN,NaN,NaN,88.0,NaN,89.0,93.0,NaN,NaN,...,91.0,NaN,NaN,NaN,91.0,NaN,NaN,NaN,90,round 3
58,Jonathan Taylor,61.0,64,44.0,35.0,57.0,48.0,56.0,NaN,77.0,...,49.0,47.0,41.0,53.0,44.0,NaN,NaN,41.0,51,round 2
117,Malik Harrison,NaN,NaN,NaN,74.0,73.0,64.0,76.0,NaN,79.0,...,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,round 3
95,Deandre Swift,NaN,55,70.0,NaN,75.0,82.0,NaN,NaN,64.0,...,NaN,56.0,NaN,61.0,83.0,NaN,NaN,53.0,68,round 3

In [72]:
df2 = df.sample(n=df.shape[0], replace=True, random_state=42)

In [92]:
df2.mean(axis=1) - df.mean(axis=1)

0      0.0
1      0.0
1      0.0
2      0.0
3      0.0
      ...
154    0.0
155    NaN
156    0.0
157    0.0
158    NaN
Length: 222, dtype: float64

In [ ]:
def bootstrap(num_bootstraps):
    all_diffs = []
    for _ in range(num_bootstraps):
        df2 = df.sample(n=df.shape[0], replace=True)
        diff = df2.query("version ==2").convert.mean() - df.query("version ==1").convert.mean()
        all_diffs.append(diff)
    return all_diffs

all_diffs = bootstrap(10000)