In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# build data frame
np.random.seed(42)
result_1 = np.random.binomial(1, 0.02, 58)
result_2 = np.random.binomial(1, 0.017, 67)
user_id = list(range(58+67))

df = pd.DataFrame()
df['user'] = user_id
df['version'] = list(np.repeat(1, 58)) + list(np.repeat(2, 67))
df['convert'] = list(result_1) + list(result_2)
df = df.sample(frac=1, random_state=42)
df.head(10)

     user  version  convert
18     18        1        0
42     42        1        0
36     36        1        0
76     76        2        0
53     53        1        0
91     91        2        0
56     56        1        0
123   123        2        0
93     93        2        0
4       4        1        0

#### How many people got each version?

#### What is the true underlying difference in conversion between these two versions?

Note you wouldn't know this in the real world, but here our data is simulated.

#### What is the estimated difference in coversion between these two versions? 

You would get this in practice.

##### Bootstrapping is "sampling with replacement"

It is done to simulate the sampling process a number of times to see how much our conversions might change (or difference in conversions in this case).

Use [sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) and choose `replace = True` to create a bootstrapped sample of the original dataset.

In [29]:
df.sample(n=df.shape[0], replace=True, random_state=42).head()

      user  version  convert
1654  1654        2        0
1572  1572        2        0
1578  1578        2        0
119    119        1        0
652    652        1        0

##### Write a function that simulates a resampling like the previous question 10,000 times, and then calculates the estimated difference between the two conversion rates.  

Store the differences in an array and return it in your function.

##### Build a histogram of the differences.

Based on your histogram, do you have evidence that there is truly a significant difference between the two versions?

##### What are some ways that might make it more likely that we would find a difference between the two versions?

#### Try changing these aspects in the second cell above, and then look at how your simulation results change.

Do you see more evidence of a difference based on your results?

#### When performing experiments there are four possible outcomes.

Based on the above truth, what are the two possible realities?


What would you need to change to simulate results to create the other two potential outcomes?