<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [5]:
# Enter Student names here:
student_names = ['Christian', 'Brendan', 'Yeva', 'Shane', 'Joe', 'Josh', 'Hugh', 'Eric', 'Victoria']

---

### 1) What are the types of the following variables?

In [6]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [7]:
# A:
type(e)

tuple

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [8]:
# A:
#mutable can change, immutable can't change
student_names.append("Joshua")

In [16]:
student_names.append('lil bub')

In [20]:
student_names_tup = tuple(student_names)
student_names_set = set(student_names)

print(student_names_set)
print(student_names_tup)

{'Joshua', 'Victoria', 'Yeva', 'Joe', 'lil bub', 'Shane', 'Hugh', 'Brendan', 'Josh', 'Christian', 'Eric'}
('Christian', 'Brendan', 'Yeva', 'Shane', 'Joe', 'Josh', 'Hugh', 'Eric', 'Victoria', 'Joshua', 'lil bub')

In [24]:
student_names_set[0]

TypeError: 'set' object is not subscriptable

---

### 3) Print the `student_names` list.

In [27]:
# A:
for name in student_names:
    print (name)

Christian
Brendan
Yeva
Shane
Joe
Josh
Hugh
Eric
Victoria
Joshua

---

### 4) Print the names of the first and last students on the list.

In [21]:
# A:
student_names[-1], student_names[0]

('lil bub', 'Christian')

In [22]:
_[0]

'lil bub'

---

### 5) Print the first five names in the `student_names` list.

In [28]:
# A:
sorted_list = sorted(student_names, key=None)
sorted_list

['Brendan',
 'Christian',
 'Eric',
 'Hugh',
 'Joe',
 'Josh',
 'Joshua',
 'Shane',
 'Victoria',
 'Yeva',
 'lil bub']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [29]:
# A:
nine_ten = student_names[-2] + ' ' + student_names[-1]
nine_ten

'Joshua lil bub'

---

### 7) Append an animal to the list of animals.

In [37]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [38]:
# A:
animals.append('snow leopard')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'snow leopard']

---

### 8) Print the length of the `animals` list.

In [39]:
# A:
len(animals)

7

---

### 9) Divide the length of the fifth animal by the second.

In [40]:
# A:
len(animals[5])/len(animals[2])

1.75

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [41]:
# A:
len(animals[5])/ len(animals[3])

1.75

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [42]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [48]:
# A:
list1 = numbers + animals

for x in animals:
    numbers.append(x)

animals.extend(numbers)

AttributeError: 'list' object has no attribute 'lower'

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [49]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [50]:
# A:           
names = [w.replace('kiefer', 'hugh') for w in names]

---

###13) Sort the following list.

In [68]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [53]:
# A:
def mixSort(mixList):
    mixSorted = []
    mixRejected = []
    for i in mixList:
        if type(i) == dict:
            mixSorted.append(i)
        else:
            mixRejected.append(i)
    return mixRejected


mixSort(mix)

[['billy', 'sam'], 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [59]:
# A:
def greater_than(great_list):
    mix_largest = []
    for x in great_list:
        if x > great_list[x-1]:
            mix_largest.append(x)
greater_than(mix)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

---

### 15) Find the index of `'a'` in the list.

In [72]:
# A:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [75]:
# A:
mix_reversed = mix[::-1]
mix_reversed

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [81]:
# A:
last_value = mix[-1]
mix.remove(mix[-1])
print(last_value)
print(mix)

flower
[['billy', 'sam'], {'key': 'value'}, 12.999, 12]

---

### 18) Count the number of times `0` appears in the following list.

In [82]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [83]:
# A:
binary.count(0)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [103]:
# A:
sf_zips = {'sunset':94122,
            'presidio':94129,
            'soma':94105,
            'marina':94123
}

sf_zips['sunset']
sf_zips['soma'] = 80021
sf_zips

{'sunset': 94122, 'presidio': 94129, 'soma': 80021, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [105]:
# A:
sf_zips['soma'] = 12345

In [109]:
a = 'this is a string'
lst = a.split()
lst[0] = 'that'
print(' '.join(lst))
print('that' + a[4:])

that is a string
that is a string

---

### 21) Get the keys out of the dictionary.

In [110]:
# A:
sf_zips.keys()
sf_zips.values()

dict_values([94122, 94129, 12345, 94123])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [113]:
# A:
sf_zips.items()
for area, zipcode in sf_zips.items():
    if area in ['soma', 'sunset', 'presidio']:
        print('{} is my favourite area in SF'.format(area))
        print('it has zip {}'.format(zipcode))
    else:
        print('Ugh! {} is the worst!'.format(area))

sunset is my favourite area in SF
it has zip 94122
presidio is my favourite area in SF
it has zip 94129
soma is my favourite area in SF
it has zip 12345
Ugh! marina is the worst!

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [124]:
# A:
# sf_zips_new = sf_zips
# sf_zips_new.append['Castro':'94114']
# sf_zips_new

sf_zips_new['Castro'] = '94114'
sf_zips_new

sf_zips_new.update({'pacific heights':'12345'})

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [116]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [117]:
# A:

{'sunset': 94122,
 'presidio': 94129,
 'soma': 12345,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [100]:
# A:

KeyError: 'sunset'

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [101]:
# A:
sf_zips

{'presidio': 94129,
 'soma': 80021,
 'marina': 94123,
 'Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

In [102]:
sf_zips['dogpatch']

94107